/* a {
  text-decoration: none;
} */

/* .hide {
  display: none;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.grid {
  display: grid;
}

.grid-col-3 {
  grid-template-columns: 400px 1fr 50px;
} */

/* Vertical and horizontal align items in a grid */
/* .p-items-center {
  place-items: center;
}

.js-start {
  justify-self: start;
}

.js-end {
  justify-self: end;
} */
